@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Monomakh&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Onest:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Shafarik&family=Triodion&family=Yanone+Kaffeesatz:wght@200..700&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin: auto;
}

body {
  font-size: 1.2vw;
  font-family: "Montserrat", sans-serif;
}
body a {
  text-decoration: none;
}
body p {
  margin: 0;
}
body header {
  display: flex;
}
body header a {
  color: white;
}
body header .leftBlock {
  background-color: #1a1a1a;
  -webkit-clip-path: polygon(0 0, 100% 0%, 71% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 71% 100%, 0% 100%);
  padding: 3vw 0 1vw 3vw;
  width: 50vw;
  display: flex;
  flex-direction: column;
}
body header .leftBlock .logoAndSocialIcons {
  display: flex;
}
body header .leftBlock .logoAndSocialIcons .logoDiv {
  margin-right: 5vw;
}
body header .leftBlock .logoAndSocialIcons .logoDiv .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body header .leftBlock .logoAndSocialIcons .logoDiv .logo img {
  width: 182px;
}
body header .leftBlock .logoAndSocialIcons .logoDiv .logo p {
  letter-spacing: 0.4vw;
}
body header .leftBlock .logoAndSocialIcons .socialIconsDiv {
  display: flex;
  flex-direction: column;
  align-items: start;
}
body header .leftBlock .logoAndSocialIcons .socialIconsDiv span a img {
  width: 1.5vw;
}
body header .leftBlock .searchInput .searchClass {
  -webkit-clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
  margin-top: 2vw;
  display: flex;
  background-color: white;
  padding: 0.1vw 0.1vw 0.1vw 0.3vw;
  border-radius: 0.5vw 0 0 0.5vw;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
body header .leftBlock .searchInput .searchClass button {
  background: none;
  border: 0;
}
body header .leftBlock .searchInput .searchClass button img {
  width: 2vw;
}
body header .leftBlock .searchInput .searchClass input {
  background: none;
  width: 25vw;
  outline: none;
  padding: 0.5vw;
  margin: 0;
  border: 0;
}
body header .rightBlock {
  display: flex;
  flex-direction: column;
  width: 70%;
}
body header .rightBlock a {
  color: #1a1a1a;
}
body header .rightBlock .righTop {
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 90 90'%3E%3Ccircle fill-opacity='0.4' fill='%231A1A1A' cx='45' cy='45' r='5'/%3E%3Cg fill='%231A1A1A' fill-opacity='0.4'%3E%3Ccircle cx='0' cy='90' r='5'/%3E%3Ccircle cx='90' cy='90' r='5'/%3E%3Ccircle cx='90' cy='0' r='5'/%3E%3Ccircle cx='0' cy='0' r='5'/%3E%3C/g%3E%3C/svg%3E");
  display: grid;
  margin: 0 0 2vw -7vw;
  padding: 3vw 3vw 3vw 7vw;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-between;
  align-items: center;
}
body header .rightBlock .righTop a {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.4vw;
}
body header .rightBlock .righTop .dropdown button {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.4vw;
  background: none;
  border: 0;
}
body header .rightBlock .righBottom {
  display: flex;
  padding: 0 2vw;
  align-items: center;
  justify-content: space-between;
}
body header .rightBlock .righBottom span {
  display: flex;
  align-items: center;
}
body header .rightBlock .righBottom span a {
  font-size: 1.6vw;
}
body header .rightBlock .righBottom span a img {
  width: 2vw;
}
body header .rightBlock .righBottom span:last-child a {
  margin-left: 2vw;
}
body main {
  margin: 2vw 5vw;
  min-height: 100vh;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
body main .categories {
  width: 20vw;
  display: grid;
  grid-template-columns: auto;
  row-gap: 0.5vw;
  margin-right: 2vw;
}
body main .categories a {
  background-color: #f9f9f9;
  color: #1a1a1a;
  padding: 0.5vw 1vw;
}
body main .categories a img {
  width: 2.5vw;
  height: 2.5vw;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 0.5vw;
}
body main .mainBlock {
  width: 70vw;
}
body main .mainBlock .adv img {
  width: 100%;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .mainBlock .gridSupport {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  gap: 2vw;
}
body main .mainBlock .gridSupport .block {
  border: 0.1vw solid #1a1a1a;
  border-radius: 0.6vw;
  padding: 1vw;
}
body main .mainBlock .gridSupport .block:hover {
  position: relative;
  box-sizing: border-box;
  background: white;
  background-clip: padding-box; /* !importanté */
  border: solid 0.1vw transparent; /* !importanté */
}
body main .mainBlock .gridSupport .block:hover:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -0.1vw; /* !importanté */
  border-radius: inherit; /* !importanté */
  background: linear-gradient(to right, red, orange);
}
body main .mainBlock .contactWithUsBtn {
  margin: 3vw 0;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
}
body main .mainBlock .contactWithUsBtn a {
  display: flex;
  width: 21vw;
  justify-content: center;
  align-items: center;
  color: #1a1a1a;
}
body main .mainBlock .contactWithUsBtn a img {
  width: 3vw;
}
body main .mainBlock .contactWithUsBtn .btn {
  border: 0.1vw solid #1a1a1a;
  font-weight: bold;
}
body main .mainBlock .partnersInMain {
  margin: 3vw 0;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
}
body main .mainBlock .partnersInMain .block {
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 5px 5px 37px -16px rgba(0, 0, 0, 0.75);
}
body main .mainBlock .partnersInMain .block span {
  display: flex;
  margin-top: 2vw;
}
body main .mainBlock .partnersInMain .block span p:last-child {
  margin-left: 1vw;
}
body main .mainBlock .partnersInMain .block span p {
  display: flex;
  align-items: center;
}
body main .mainBlock .partnersInMain .block span p img {
  margin-right: 0.5vw;
  width: 1.2vw;
}
body footer {
  position: relative;
}
body footer .bg img {
  width: 100%;
  height: 18vh;
}
body footer .footerBlock {
  top: 0;
  left: 0;
  position: absolute;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 5vw 0 2vw;
  width: 100%;
}
body footer .footerBlock .socialIcons {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
}
body footer .footerBlock .socialIcons a img {
  width: 3vw;
}
body footer .footerBlock .logoBox {
  display: flex;
  flex-direction: column;
}
body footer .footerBlock .logoBox span:first-child p img {
  width: 14vw;
}
body footer .footerBlock .logoBox span:last-child {
  display: flex;
}
body footer .footerBlock .logoBox span:last-child p:last-child {
  margin-left: 1vw;
}
body footer .footerBlock .logoBox span:last-child p {
  color: rgba(26, 26, 26, 0.4784313725);
  font-size: 0.8vw;
}
body footer .footerBlock .contact p:first-child {
  font-size: 1.6vw;
}/*# sourceMappingURL=style.css.map */